.flex {
  display: flex;

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--column {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

button {
  background-color: $dark-blue !important;
  color: white !important;

  mat-icon {
    color: white;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.text-center {
  text-align: center;
}

form {
  display: block;
}

.full-width {
  width: 100%;
}

b {
  font-weight: bold;
}

.p-1 {
  padding: 0.5rem !important;
}

.p-l-1 {
  padding-left: 0.3rem;
}

.p-l-2 {
  padding-left: 0.5rem;
}

.p-l-3 {
  padding-left: 1rem;
}

.m-t-1 {
  margin-top: 0.3rem !important;
}

.mgb {
  margin-bottom: 1rem;
}

@mixin gradient-blue() {
  background-image: linear-gradient(-200deg, $primary-blue, $dark-blue);
}

@mixin gradient-dark() {
  background-image: linear-gradient(-200deg, $gray, $dark-gray);
}

@mixin box-shadow() {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.09), 0 3px 14px 3px rgba(0, 0, 0, 0.06);
}
