<div class="header flex flex--align-center"
     [ngClass]="(isDesktop)?'flex--space-between':'flex--justify-center'">
  <mat-icon
    matTooltip="By clicking to this button the display of the repositories will change default is a table overview"
    *ngIf="isDesktop"
    class="switch"
    (click)="changeDisplayType()">dashboard</mat-icon>
  <mat-form-field class="search-container">
    <mat-icon class="search-icon" matPrefix>search</mat-icon>
    <mat-label>Search repositories</mat-label>
    <input matInput type="text"
           name="search-field"
           [formControl]="searchFormControl"/>
    <button
      (click)="resetSearch()"
      type="button" mat-icon-button
      id="search-clear-button"
      mat-button
      matSuffix
      aria-label="Clear"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

