@import '../../../styles/variabels';
@import '../../../styles/helpers';

.header {
  color: white;
  min-height: 1.5rem;
  @include gradient-blue();
  @include box-shadow();

  padding: 10px;
  overflow: hidden;
  margin: 2rem 0;

  @media (max-width: $mobile-break-point) {
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }

  .search-container {
    width: 29.375rem !important;
  }

  .switch {
    cursor: pointer;
  }

  .search-icon {
    position: relative;
    top: 5px;
  }

  button {
    background-color: white !important;
    color: black !important;
    margin-bottom: 5px;
    mat-icon {
      color: black !important;
    }
  }

  mat-icon {
    color: white !important;
  }
}
