.cards {
  margin-bottom: 0.938rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
    gap: 2.188rem;
    margin-bottom: 3rem;
    @media (max-width: $mobile-break-point) {
      padding: 0.8rem;
    }
  }
}

.card {
  min-width: 18.125rem;
  min-height: 7.5rem;
  cursor: pointer;
  background-color: white;
  @include box-shadow();
  margin-bottom: 1rem;

  &__title {
    color: white;
    @include gradient-blue();
    padding: 1rem 0 1rem 2rem;
  }

  &__content {
    padding: 1rem;
  }
}
