@import 'styles/variabels'; // colors variable
@import 'styles/helpers'; // shared style
@import 'styles/layouts/material'; // reset mat style
@import 'styles/layouts/card'; // card design


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}

.container {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  padding: 0 2rem;
  overflow: auto;
  @media (max-width: $mobile-break-point) {
     padding: 0 !important;
  }
}
