<div class="searchResult">
  <mat-table class="repo-table mat-elevation-z8"
             [dataSource]="searchResult.items"
             matSortDisableClear>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef><mat-icon>code</mat-icon>Name</mat-header-cell>
      <mat-cell class="flex flex--space-between" *matCellDef="let repo">
        {{repo.name}}

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="favorite">
      <mat-header-cell *matHeaderCellDef matTooltip="Add to favorite repositories"><mat-icon>favorite</mat-icon></mat-header-cell>
      <mat-cell class="flex flex--space-between" *matCellDef="let repo">
        <app-favorite matTooltip="By clicking to the button this repositories will be add to the favorite repos"
                      [repo]="repo"></app-favorite>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef><mat-icon>account_circle</mat-icon> Owner</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let repo">{{repo.owner.login}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef><mat-icon>language</mat-icon>Language</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let repo">{{repo.language}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="watchers">
      <mat-header-cell *matHeaderCellDef><mat-icon>visibility</mat-icon> Watchers</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let repo">{{repo.watchers}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef><mat-icon>description</mat-icon>Description</mat-header-cell>
      <mat-cell class="description"
                *matCellDef="let repo">{{repo.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

